.PageMovies_Form {
  display: flex;
  margin: 10px;
}

.PageMovies_Button {
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 16px;
  margin-right: 10px;
  font-size: 16px;
}

.PageMovies_Input {
  width: 300px;
  height: 30px;
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 4px;
}
